{% extends "base.html" %}
{% block title_html %}
    Project list
{% endblock %}
{% block h1 %}
    Project list
{% endblock %}
{% block article_content %}
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Client name</th>
        </tr>
        {% for developer in object_list %}
            <tr>
                <td><a href="">{{ developer.name }}</a></td>
                <td>{{ developer.login }}</td>
                <td>{{ developer.supervisor }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}